body {
  margin: 0;
}

.gameTile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97px;
  height: 97px;
  border: 1px solid #DDD;
}

.player {
  width: 85%;
  height: 85%;
  background: url("http://opengameart.org/sites/default/files/spellun-sprite.png no-repeat fixed center");
}

.gameBoard {
  display: flex;
  flex-direction: column;
}

.gameRow {
  display: flex;
}

.tile-selector {
  list-style-type: none;
  background: white;
}

.tile-option {
  z-index: 100;
  padding: 5px;
}
